<div class="carrito-container">
    <div class="row">
        <div class="col-md-6">
            <div class="productos-seleccionados">
                <h2>Productos Seleccionados</h2>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let producto of productosCarrito">
                        <app-producto [producto]="producto"></app-producto>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="resumen-compra">
                <h2>Resumen de la Compra</h2>
            </div>
        </div>
    </div>
  </div>
