<app-toolbar></app-toolbar>
<div class="d-flex" style="height: calc(100vh - toolbarHeight);">
    <div class="d-flex flex-column justify-content-center" style="width: 38%; text-align:center">
        <h1 style="font-weight:bold; font-size:3rem; ">SportPower</h1>
        <h2 style="font-size:2rem; margin-top:2rem">“Activa tu pasión por el deporte con SportPower”</h2>
        <h3 style="margin:3rem">SportPower es mucho más que una marca, es un estilo de vida saludable dedicado a potenciar tu rendimiento deportivo y realzar la vida activa.</h3>
    </div>
    <div class="d-flex flex-column" style="width: 62%;">
        <img src="../../../assets/imgs/home.jpg" style="height: 100%;">
    </div>
</div>
