<div class="center-container">
    <div class="d-flex">
        <div style="text-align: center;">
            <h1 *ngIf="login" class="title">INICIO DE SESIÓN</h1>
            <h1 *ngIf="!login" class="title">REGISTRARSE</h1>
            <div class="custom-box d-flex flex-column">
                <p style="margin-bottom:3rem">Bienvenido a SportPower! <span *ngIf="login">Inicia sesión</span><span *ngIf="!login">Registrese</span> para poder <br> acceder a todos los servicios</p>
                <div *ngIf="!login" class="d-flex justify-content-around">
                    <div class="d-flex flex-column">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="name" #input>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column" style="margin-left:1rem">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input matInput [(ngModel)]="lastname" #input>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="email" #input>
                </mat-form-field>
                <mat-form-field *ngIf="!login" appearance="outline">
                    <mat-label>Repite email</mat-label>
                    <input matInput [(ngModel)]="repitedEmail" #input>
                </mat-form-field>
                <p style="color:red" *ngIf="wrongEmail">El email no es el mismo</p>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [(ngModel)]="password" #input  type="password">
                </mat-form-field>
                <button style="margin-top:1rem" class="buttomStyle" *ngIf="login; else signupButtons"
                    (click)="checkUser()">Iniciar Sesión</button>
                <p *ngIf="login" style="margin-top:2rem">No tienes cuenta todavía?</p>
                <a *ngIf="login" (click)="changeToSignUp()">Resgitrarse</a>
                <ng-template #signupButtons>
                    <button style="margin-top:1rem" class="buttomStyle"
                    (click)="signup()">Registrar</button>
                   <p style="margin-top:2rem">Ya tienes una cuenta?</p>
                    <a (click)="changeToLogin()">Iniciar sesión</a>
                </ng-template>
            </div>

        </div>
    </div>
</div>