mat-toolbar {
    display: flex;
    justify-content: space-around;
}

mat-toolbar {
  display: flex;
  background-color:#88D4F3; 
}

.search{
  height: 3.8rem;
  margin-top: 1.3rem;
}

